<div class="container col-9" style="border: 1px solid; margin-top: 10px;">
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" >
  <div class="row">
    <div class="col-9">
        <h1 style="text-align: center;color: plum;">Contact Our</h1>
        <h1 style="text-align: center;">Customer Support Center</h1>
    </div>
    <div class="col-3">
      <img style="height: 200px;" src="https://www.humac.dk/sites/default/files/product-images/2022-06/MacBook_Pro_13_in_Silver_PDP_Image_Position-1__WWEN.jpg" alt="">
      
    </div>
  </div>
  <div style="text-align: center;" >
    <h3>Contact Information</h3>
  </div>
  <div style="text-align: center;" >Plese fill out your contact information below.</div>
  <div class="row" style="margin-top: 10px;" >
    <label for="">Name</label>
    <div class="col">
      <input type="text" [class.is-invalid] = "contactForm.get('fname')?.invalid && 
      contactForm.get('fname')?.touched" formControlName="fname" class="form-control" required>
      <small>First Name</small>
      <small [class.d-none]="contactForm.get('fname')?.valid || contactForm.get('fname')?.
      untouched" class="text-danger"> First Name is required</small>
    </div>
    <div class="col" >
      <input type="text" [class.is-invalid] = "contactForm.get('lname')?.invalid && 
      contactForm.get('lname')?.touched" formControlName="lname" class="form-control" >
      <small>Last Name</small>
      <small [class.d-none]="contactForm.get('lname')?.valid || contactForm.get('lname')?.
      untouched" class="text-danger"> Last Name is required</small>

    </div>
    <div class="form-group" style="margin-top: 10px;">
      <label for="Email1">Email</label>
      <input type="email" [class.is-invalid] = "contactForm.get('email')?.invalid && 
      contactForm.get('email')?.touched" formControlName="email"  class="form-control" >
      <small [class.d-none]="contactForm.get('email')?.valid || contactForm.get('email')?.
      untouched" class="text-danger"> Email is required</small>

    </div>
    <div class="form-group" style="margin-top: 10px;">
      <label for="phone"> Phone</label>
      <input type="text" [class.is-invalid] = "contactForm.get('phone')?.invalid && 
      contactForm.get('phone')?.touched" formControlName="phone" class="form-control">
      <small [class.d-none]="contactForm.get('phone')?.valid || contactForm.get('phone')?.
      untouched" class="text-danger"> Phine is required</small>

    </div>
    <div class="form-group" style="margin-top: 10px;">
      <label for=" address"> Address </label>
      <input type="text" [class.is-invalid] = "contactForm.get('address')?.invalid && 
      contactForm.get('address')?.touched" formControlName="address" class="form-control">
      <small [class.d-none]="contactForm.get('address')?.valid || contactForm.get('address')?.
      untouched" class="text-danger"> Address is required</small>

    </div>
    <div class="col-4"style="margin-top: 10px;">
      <label for="">City</label>
      <input type="text" [class.is-invalid] = "contactForm.get('city')?.invalid && 
      contactForm.get('city')?.touched" formControlName="city" class="form-control" >
      <small [class.d-none]="contactForm.get('city')?.valid || contactForm.get('city')?.
      untouched" class="text-danger"> City is required</small>
    </div>
    
    <div class="col-4"style="margin-top: 10px;" >
      <label for="State">State</label>
      <select formControlName="state" class="form-control">
        <option value="Maharashtra">Maharashtra</option>
        <option value="Gujrat">Gujrat</option>
        <option value="Uttar Pradesh">Uttar Pradesh</option>
      </select>

    </div>
    <div class="col-4" style="margin-top: 10px;">
      <label for="">Zip Code</label>
      <input type="text" [class.is-invalid] = "contactForm.get('zipcode')?.invalid && 
      contactForm.get('zipcode')?.touched" formControlName="zipcode" class="form-control" >
      <small [class.d-none]="contactForm.get('zipcode')?.valid || contactForm.get('zipcode')?.
      untouched" class="text-danger"> Zip Code is required</small>

    </div>

    <div class="form-group" style="margin-top: 10px;">
      <label for=" address"> Comments </label>
      <input type="text" [class.is-invalid] = "contactForm.get('comments')?.invalid && 
      contactForm.get('comments')?.touched" formControlName="comments" class="form-control">
      <small [class.d-none]="contactForm.get('comments')?.valid || contactForm.get('comments')
      ?.untouched" class="text-danger"> Comments is required</small>

    </div>

  </div>
  <div>
    <button style="margin-left: 50%; margin-top: 10px; background-color: plum;border-color: 
    plum;" type="submit" class="btn btn-primary btn-lg" [disabled]="contactForm.invalid">SUBMIT FORM</button>
  </div>

  <div>
    <h2>
    {{contactForm.value | json}}</h2>
  </div>

</form>
</div>
